name: Post JSON File to Two URLs 

on: 
 push: 
  branches: 
   - main  # Runs only when pushing to the main branch 
 workflow_dispatch:  # Allows manual trigger 
 
jobs: 
 post_json: 
  runs-on: ubuntu-latest 
  steps: 
   - name: Checkout Repository 
     uses: actions/checkout@v3 
   - name: Send JSON Data to First URL 
     run: | 
      curl -X POST "https://:uaaJCF43Rx-DU3GKtID-YA@eu.tandem.autodesk.com/api/v1/timeseries/models/urn:adsk.dtm:08L12lywSK-HkZSRHySRqg/streams/AQAAAO6-q8cpGUlOg_B7tbtzfYQAAAAA" \
           -H "Content-Type: application/json" \
           -d @stream.json 
      
   - name: Send JSON Data to Second URL 
     run: | 
      curl -X POST "https://:zEfbVP1XQX2qJa1MTHmJKw@eu.tandem.autodesk.com/api/v1/timeseries/models/urn:adsk.dtm:08L12lywSK-HkZSRHySRqg/streams/AQAAAKju7IGXWUN8qhGETBKxmacAAAAA" \
           -H "Content-Type: application/json" \
           -d @stream.json
